<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="API TEST">
        <classes>
            <class name="GoRestUserTest"></class>
            <class name="GoRestTodosTest"></class>
            <class name="GoRestCommentsTest"></class>
        </classes>
    </test>
</suite>